
@import url(familia.css?family=Exo:100,200,400);
@import url(familia.css?family=Source+Sans+Pro:700,400,300);

.solid-background {

	width: inherit;
	height: inherit;

	background: #004b8c;
	
	display: inline-block;
	vertical-align: middle;
}

.fading-background {

	margin-left: -100%;

	width: inherit;
	height: inherit;

	background-image: url(../images/neural.jpg);
	background-size: cover;
	background-position: center;

	animation-duration: 10s;
	animation-name: fade;
	animation-iteration-count: infinite;
	
	display: inline-block;
	vertical-align: middle;
}

@keyframes fade {
	
    0%, 100% {opacity: 0.9}
    50% {opacity: 0.2}
}

.login-box {

	margin-left: -100%;

	width: inherit;

	vertical-align: middle;
	display: inline-block;
	
	opacity: 0.99999;
}

.namae {

	vertical-align: middle;
	display: inline-block;

	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;

	cursor: default;
}

.login-box div span {

	color: #00e5ff !important;
	font-weight: 500;
}

.login-credentials {

	display: inline-block;
	vertical-align: middle;

    padding: 10px;
}

.login-credentials input[type=text] {

	width: 250px;
	height: 30px;
	background: #ffffffc2;
	border: 1px solid rgba(255,255,255,0.6);
	border: none;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	
	display: block;
}

.login-credentials input[type=password] {

	width: 250px;
	height: 30px;
	background: #ffffffc2;
	border: none;
	border-radius: 2px;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	
	display: block;
}

.login-credentials button {

	width: 258px;
	height: 35px;
	background: #00e5ffa1;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login-credentials button:hover {
	
	opacity: 0.8;
}

.login-credentials button:active {
	
	opacity: 0.6;
}

.login-credentials input[type=text]:focus {

	outline: none;
}

.login input[type=password]:focus{

	outline: none;
}

.login-credentials button:focus{

	outline: none;
}

::-webkit-input-placeholder{

   color: rgba(0,0,0,0.6);
}

::-moz-input-placeholder{

   color: rgba(0,0,0,0.6);
}
