
html, body {

	margin: 0px;
	padding: 0px;

    width: 100%;
	height: 100%;

    min-width: 1280px;
    min-height: 720px;
}

body {

	font-family: Roboto, sans-serif;
	color: #24292e;
}

#navbar {

	height: 60px;

	color: rgba(255,255,255,0.75);
	background-color: #24292e;

	cursor: default;
    text-align: right;
}

#navbar button {

    display: inline-block;
}

#main {

    display: none;

    vertical-align: top;

    height: 100%;
}

#login {

	display: none;

	text-align: center;
	cursor: default;

    vertical-align: top;
    padding-top: 60px;
}

#login input {

    width: 200px;
}

#login .field {

    margin: 5px;
}

#login .submit {

    margin-top: 20px;
}

#login .logo {

    background-image: url("../images/logo.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    height: 300px;
    width: 800px;

    display: inline-block;
}

#login span {

    text-align: left;
    min-width: 70px;
    display: inline-block;
}

#login button {

    display: inline-block;
}

#loading {

	text-align: center;
	cursor: default;
}

#dialog-sub-message {

    font-size: 24px;
}

.load-message {

	margin-top: 100px;
	font-size: 48px;
}

#dialog {

	display: none;

	text-align: center;
	cursor: default;
}


#process {

	text-align: center;
	cursor: default;
}

#content {

	height: calc(100% - 60px);
	text-align: center;
	vertical-align: top;

	cursor: default;
}

#gallery {

	width: calc(100% - 382px);
	height: calc(100% - 132px);

	margin: 60px;
	margin-right: 30px;

	padding: 5px;
	padding-right: 0px;

	text-align: left;

	display: inline-block;
	vertical-align: top;

	border: 1px solid rgba(0,0,0,0.2);

	overflow: auto;
}

#stats {

	font-size: 14px;

	margin-bottom: 20px;
	text-align: left;

	padding: 18px;
	border: 1px solid rgba(0,0,0,0.2);
}

#stats .tit {

	min-width: 120px;
	display: inline-block;
	text-align: left;
}

#stats .count {

	margin-right: 5px;
	min-width: 50px;
	display: inline-block;
	text-align: right;
}

#sidebar {

	width: 220px;

	margin-top: 60px;
	margin-right: 60px;

	display: inline-block;
	vertical-align: top;
}

#controls {

	text-align: center;

	padding: 18px;
	border: 1px solid rgba(0,0,0,0.2);
}

#controls input, button {

	width: 180px;
	height: 30px;

	cursor: pointer;
	display: block;

	margin: 2px;
	font-size: 14px;
	white-space: nowrap;;

	vertical-align: top;
}

#controls input:disabled, button:disabled {

	cursor: default;
}

#file {

	margin-top: -32px !important;
	opacity: 0;
}

.sample {

	width: 120px;
	min-height: 120px;

	margin: 5px;

	display: inline-block;
	vertical-align: top;
	background: #b4ced1;
	border: 1px solid rgba(0, 0, 0, 0.2);
	white-space: nowrap;

	cursor: default;
}

.sample img {

	width: inherit;
	height: 120px;

	display: block;
	vertical-align: top;
}

.sample div {

	width: inherit;
	/*margin-left: -120px;*/

	display: inline-block;

	vertical-align: bottom;
	text-align: right;

	color: #fff;
}

.sample div span {

	width: inherit;
	background: black;
	display: block;
}
